<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/SheinPrototype.styles.css" asp-append-version="true"/>
</head>
<body>
<header id="header" class="d-flex flex-column" style="width: 100%;background-color: white;top: 0;">
    <div class="d-flex justify-content-between px-3 py-3">
        <div onclick="openMenu()" style="cursor: pointer;">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: auto; height: 1em; vertical-align: middle; display: inline-block; line-height: 0; font-size: 24px; transform: none;"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.4871 3.95288L16.513 5.04719L9.09603 12L16.513 18.9529L15.4871 20.0472L6.90344 12L15.4871 3.95288Z" fill="var(--shein-common-header-icon-color, #000)"></path></svg>
        </div>
        <div style="cursor: pointer;">
            <svg  width="120" height="24" viewBox="0 0 120 24" fill="black" xmlns="http://www.w3.org/2000/svg" style="width:auto;height:1em;vertical-align:middle;display:inline-block;line-height:0;font-size:24px;">
                <path d="M27.339 16.4495C27.339 17.191 27.1742 17.8502 26.8446 18.427C26.515 19.0862 26.0206 19.5806 25.4438 20.075C24.8671 20.5693 24.1255 20.9813 23.3015 21.2285C22.4775 21.4757 21.5712 21.6405 20.5824 21.6405C19.676 21.6405 18.8521 21.5581 18.1929 21.4757C17.4513 21.3933 16.7921 21.2285 16.1329 21.0637C15.4738 20.8989 14.897 20.5693 14.3202 20.3221C13.7434 19.9926 13.1666 19.5806 12.5074 19.1686L15.3914 16.6143C16.2153 17.2734 17.0393 17.6854 17.8633 17.9326C18.6873 18.1798 19.5112 18.3446 20.4176 18.3446C20.8296 18.3446 21.1592 18.2622 21.4888 18.1798C21.8184 18.0974 22.1479 17.9326 22.3951 17.7678C22.6423 17.603 22.8071 17.3558 22.9719 17.191C23.1367 16.9438 23.2191 16.6967 23.2191 16.4495C23.2191 16.1199 23.1367 15.8727 23.0543 15.6255C22.9719 15.3783 22.7247 15.1311 22.3951 14.9663C22.0656 14.7191 21.6536 14.5543 21.0768 14.3071C20.5 14.0599 19.8408 13.8127 18.9344 13.5656C18.1929 13.3184 17.4513 13.0712 16.7097 12.7416C15.9681 12.412 15.3914 12 14.897 11.588C14.4026 11.176 13.9082 10.5992 13.661 10.0225C13.249 9.28088 13.0842 8.53931 13.0842 7.71533C13.0842 6.89136 13.249 6.14978 13.5786 5.4906C13.9082 4.83142 14.4026 4.25464 15.0618 3.76025C15.6385 3.34827 16.3801 2.93628 17.2041 2.68909C18.0281 2.44189 18.9344 2.2771 19.8408 2.2771C21.4064 2.2771 22.8071 2.44189 23.8783 2.85388C24.9495 3.26587 25.9382 3.76025 26.7622 4.50183L23.9607 7.05615C23.4663 6.64417 22.8895 6.23218 22.2303 5.98499C21.5712 5.73779 20.8296 5.6554 20.0056 5.6554C19.5936 5.6554 19.264 5.73779 18.9344 5.82019C18.5225 5.90259 18.2753 6.06738 18.0281 6.23218C17.7809 6.39697 17.6161 6.64417 17.4513 6.89136C17.2865 7.13855 17.2041 7.38574 17.2041 7.63293C17.2041 7.96252 17.2865 8.20972 17.4513 8.45691C17.5337 8.7041 17.7809 8.8689 18.1105 9.11609C18.4401 9.36328 18.8521 9.52808 19.4288 9.77527C20.0056 10.0225 20.6648 10.2697 21.4888 10.5168C22.5599 10.8464 23.3839 11.176 24.1255 11.588C24.8671 12 25.4438 12.412 25.9382 12.9064C26.4326 13.4008 26.7622 13.8951 27.0094 14.4719C27.2566 15.0487 27.339 15.7079 27.339 16.4495ZM50.4927 21.3933H46.4552V13.1536H38.957V21.3933H34.9196V2.68909H38.957V10.1049H46.4552V2.68909H50.4927V21.3933ZM72.8224 21.3933H58.0732V2.68909H72.8224V5.6554H62.0283V10.1049H71.9984V12.9888H62.0283V18.0974H72.8224V21.3933ZM84.77 21.3933H80.7325V2.68909H84.77V21.3933ZM107.594 2.68909V21.8877L96.3057 12.0824V21.2285H92.3506V2.1123L103.639 11.9176V2.68909H107.594Z" fill="black" id="svgLogoMenu"></path>
            </svg>
        </div>
        <div style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M240-160q-50 0-85-35t-35-85H40v-440q0-33 23.5-56.5T120-800h560v160h120l120 160v200h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85H360q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T280-280q0-17-11.5-28.5T240-320q-17 0-28.5 11.5T200-280q0 17 11.5 28.5T240-240ZM120-360h32q17-18 39-29t49-11q27 0 49 11t39 29h272v-360H120v360Zm600 120q17 0 28.5-11.5T760-280q0-17-11.5-28.5T720-320q-17 0-28.5 11.5T680-280q0 17 11.5 28.5T720-240Zm-40-200h170l-90-120h-80v120ZM360-540Z"/></svg>
        </div>
    </div>
</header>
@RenderBody()
<script>
    function openMenu() {
        window.open("/");
    }
</script>
</body>
</html>