<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/SheinPrototype.styles.css" asp-append-version="true"/>
</head>
<body style="height: 100vh;">
<header style="padding: 10px;display: flex; align-items: center;gap: 14px;">
    <div onclick="goBack()" style="display: flex; gap: 12px;align-items: center;">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="width:24px;height:24px;" data-v-07d7bafd=""><path fill-rule="evenodd" clip-rule="evenodd" d="M15.4871 3.95288L16.513 5.04719L9.09603 12L16.513 18.9529L15.4871 20.0472L6.90344 12L15.4871 3.95288Z" fill="currentColor" data-v-07d7bafd=""></path></svg>
        <span style="font-family: inherit; font-size: 17px;color: black;font-weight: bold;">Carrinho</span>    
    </div>
    <div style="height: 20px;display: flex; align-items: center; justify-content: center;padding: 4px;background-color: #f6f6f6; padding-left: 12px;padding-right: 12px;border-radius: 10px;gap:8px;">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 15px; height: 15px;"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.50008 3.66663C6.07335 3.66663 4.91675 4.82322 4.91675 6.24996C4.91675 7.67669 6.07335 8.83329 7.50008 8.83329C8.92682 8.83329 10.0834 7.67669 10.0834 6.24996C10.0834 4.82322 8.92682 3.66663 7.50008 3.66663ZM7.50008 4.66663C8.37453 4.66663 9.08342 5.37551 9.08342 6.24996C9.08342 7.12441 8.37453 7.83329 7.50008 7.83329C6.62563 7.83329 5.91675 7.12441 5.91675 6.24996C5.91675 5.37551 6.62563 4.66663 7.50008 4.66663Z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.50001 0.75C4.46299 0.75 2 3.20066 2 6.22498C2 8.28471 2.98998 10.3603 4.89469 12.3739C5.5093 13.0236 6.19495 13.6392 6.9279 14.2013C7.02087 14.2726 7.11303 14.3418 7.20396 14.4086L7.50001 14.6262L7.79606 14.4086C7.88699 14.3418 7.97915 14.2726 8.07212 14.2013C8.80506 13.6392 9.49071 13.0236 10.1053 12.3739C12.01 10.3603 13 8.28471 13 6.22498C13 3.20066 10.537 0.75 7.50001 0.75ZM7.50001 1.75C9.98585 1.75 12 3.75408 12 6.22498C12 8.00196 11.1209 9.84499 9.37884 11.6867L9.12713 11.9465C8.70087 12.3762 8.24134 12.7889 7.75703 13.1776L7.5 13.379L7.53649 13.4078C6.84503 12.8775 6.19885 12.2974 5.62117 11.6867C3.87906 9.84498 3 8.00196 3 6.22498C3 3.75407 5.01416 1.75 7.50001 1.75Z" fill="currentColor"></path></svg>
        <span style="color: #666666;">Enviar para Brasil</span>
    </div>
</header>
    @RenderBody()
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>